body { 
    visibility: hidden;
    overscroll-behavior: none;
}
input[type='number']::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
        opacity: 0;
}
.form-control {
    margin: 20px;
    margin-bottom: 0;
    width: calc(100vw - 40px) !important;
}

.invalid-feedback {
    margin-left: 20px
}

.spinner-grow {
    position: absolute;
    top: 30vh;
}

a {
    word-break: break-all;
    white-space: pre-wrap;
}

* {
    user-select: none;
}